
.container
	padding-top: 40px
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	align-content: flex-start
	width: 400px
	height: 650px
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	box-shadow: 0 0 10px rgba(0,0,0,0.30)

	@media screen and (max-width: 480px)
		height: 90vh
		box-shadow: none


.banner-facebook
	margin-top: 30px


.text
	text-align: center
	width: 300px
	margin-top: 40px
	line-height: 20px

	@media screen and (max-width: 480px)
		font-size: 0.9em

	&--email
		margin-top: 30px
		font-size: 0.9em
		color: #AA99B1

	&--tos
		margin-top: 25px
		font-size: 0.75em
		color: #AA99B1
		text-align: center

.form-registration
	margin-top: 20px

	.input
		box-sizing: border-box
		padding-left: 10px
		margin-top: 10px
		margin-bottom: 10px
		display: block
		height: 40px
		color: #444
		width: 100%
		border-radius: 2px
		background-color: white
		border: 1px #AA99B1 solid

		@media screen and (max-width: 480px)
			box-sizing: border-box
			border-radius: 2px

	.button
		width: 100%
		margin-top: 30px
		padding: 5px
		height: 40px
		border-radius: 2px
		background-color: #AA99B1
		border: none
		box-shadow: 0 0 5px grey
		color: white
		font-size: 1.1em