fieldset {
	margin-top: 170px; 
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.mini_container {
	width: 300px;
	height: 90vh;
	position: absolute;
	top: 10vh;
	margin: auto;
	box-shadow: none;
}

.logo {
	position: absolute;
	left: 34px;
	top: 0;
}

.text {
	position: absolute;
	left: 32px;
	top: 40px;
	font-size: 0.9em;
}

.textExtra {
	position: absolute;
	left: 25px;
}

.facebookBanner {
	position: absolute;
	left: 0;
	top: 90px;
}

.textSignEmail {
	position: absolute;
	left: 91px;
	top: 150px;
	font-size: 0.8em;
	color: #AA99B1;
}

.input {
	box-sizing: border-box;
	padding: 5px;
	display: block;
	margin: 0 0 10px 0;
	width: 300px;
	height: 40px;
	border-radius: 2px;
	border: 1px #AA99B1 solid;
}

.button {
	padding: 5px;
	width: 300px;
	height: 40px;
	margin: 15px 0 0 0;
	border-radius: 2px;
	background-color: #AA99B1;
	border:none;
	box-shadow: 0 0 5px grey;
	color: white;
	font-size: 1.1em;
}

.tos {
	position: absolute;
	top: 500px;
	left: 0;
	font-size: 0.74em;
	color: #AA99B1;
}

.tosExtra {
	position: absolute;
	left: 50px;
	top: 15px;
}

@media screen and (min-height: 640px) { 
	.tos {
		position: absolute;
		bottom: 60px;
		left: 0;
		font-size: 0.74em;
		color: #AA99B1;
	}

	.tosExtra {
		position: absolute;
		left: 50px;
		top: 15px;
	}

}

@media screen and (min-height: 700px) { 
	.tos {
		position: absolute;
		bottom: 130px;
		left: 0;
		font-size: 0.74em;
		color: #AA99B1;
	}

	.tosExtra {
		position: absolute;
		left: 50px;
		top: 15px;
	}

}