*
  border: 0
  font: inherit
  font-size: 100%
  margin: 0
  padding: 0
  vertical-align: baseline

blockquote:before, blockquote:after, q:before, q:after
  content: ''

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

ol, ul
  list-style: none

body
  font-family: 'Lato', sans-serif
  line-height: 1

table
  border-collapse: collapse
  border-spacing: 0
