.button
  display: block
  height: 100%
  line-height: 30px
  color: white
  font-weight: 700
  text-decoration: none
  width: 100%

  &--submit
    width: 100%
    margin-top: 15px
    padding: 5px
    height: 40px
    border-radius: 2px
    background-color: #AA99B1
    border: none
    box-shadow: 0 0 5px grey
    color: white
    font-size: 1.1em

    &:hover
      background-color: $primary-color

    &:active
      background-color: #9C68B1
