.container
	margin: auto
	margin-top: 15vh

	&--rounded
		border-radius: 5px

	&--registration
		padding-top: 40px
		padding-bottom: 20px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: flex-start
		align-content: flex-start
		width: 400px
		box-shadow: 0 0 10px rgba(0,0,0,0.30)

		@media screen and (max-width: 480px)
			height: 90vh
			box-shadow: none