.container
  margin: auto

  &--index
    background: url('../img/background.jpg') no-repeat center center
    background-size: cover
    box-sizing: border-box
    display: flex
    flex-direction: column
    font-family: 'Lato', sans-serif
    height: 100vh
    overflow: hidden
    width: 100vw

  &--registration
    height: 100vh
    overflow: hidden
    width: 100vw

  &__homepage
    display: flex
    flex-wrap: wrap
    font-family: 'Roboto', sans-serif
    height: auto
    justify-content: space-around
    padding-bottom: 5em
    width: 100vw

  &--background
    background: url(../img/backgroundregistration.jpg) no-repeat center center
    background-size: cover
    height: 100vh
    overflow: hidden
    width: 100vw

    @media screen and (max-width: 480px)
      box-shadow: none
      height: 90vh


.loginContainer
  align-content: flex-start
  align-items: flex-start
  background-color: transparent
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 12vh auto auto
  padding-bottom: 20px
  padding-top: 40px
  width: 400px
