.input
	&--registration
		box-sizing: border-box
		padding-left: 10px
		margin-top: 10px
		margin-bottom: 10px
		display: block
		height: 40px
		color: #444
		width: 100%
		border-radius: 2px
		background-color: white
		border: 1px #AA99B1 solid

		@media screen and (max-width: 480px)
			box-sizing: border-box
			border-radius: 2px	