progress
  width: 300px
  height: 25px
  appearance: none
  border-radius: 20px
  &::-moz-progress-bar
    background: $primary-color
    border-radius: 20px
  &::-webkit-progress-value
    background: $primary-color
    border-radius: 20px
  &::-webkit-progress-bar
    border-radius: 20px
  &::-ms-fill
    background: $primary-color
    border-radius: 20px
    border: none
