.text
	text-align: center
	width: 300px
	margin-top: 40px
	line-height: 20px
	color: #555	

	@media screen and (max-width: 480px)
		font-size: 0.9em


	&--email
		margin-top: 15px
		font-size: 0.9em

	&--terms
		margin-top: 15px
		font-size: 0.75em
		text-align: center

	&--error
		margin-top: 0
		color: #C8324B

.title
  &--big
    font-size: 2.5em
    font-weight: 700

.subtext
  opacity: .8
  
