.text
  color: #555
  line-height: 20px
  margin-top: 40px
  text-align: center
  width: 300px

  @media screen and (max-width: 480px)
    font-size: .9em


  &--email
    font-size: .9em
    margin-top: 15px

  &--terms
    font-size: .75em
    margin-top: 15px
    text-align: center

  &--error
    color: #C8324B
    margin-top: 0

  &--newpost
    color: black
    line-height: 50px
    margin-left: 5em

    &::before
      background: url('../img/icons/newpost.png') no-repeat
      content: ''
      height: 37px
      margin-left: -50px
      margin-top: 10px
      position: absolute;
      width: 27px

.title
  &--big
    font-size: 2.5em
    font-weight: 700

.subtext
  opacity: .8

.tag
  color: grey
